.icon-48-configs {
      background-image: url(../images/l_configs.png);
      padding-left:60px!important;
}

.icon-48-config {
      background-image: url(../images/l_configs.png);
      padding-left:60px!important;
}

